<div class="games">
    <div class="columns is-narrow-tablet">
        <div class="column is-6 reveal revealLeft">
            <video controls [muted]="true" [autoplay]="true" loop>
                <source src="\assets\LunarLanderGamePlay.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
        </div>
        <div class="column is-6 reveal revealRight">
            <h4 class="title is-4"><b>Lunar Lander</b></h4>
            <h5 class="subtitle is-5">
                Navigate your lander lander through an increasingly complicated series of levels while carefuly managing fuel efficiency.
                <br><br>
                Google Play Rating: 4.0 stars
                <br><br>
                Users: 2k+
                <br>
                <br>
            </h5>
            <div>
                <a href="https://github.com/JimmyDevGit/LunarLander"  target="_blank" class="link">
                    <i class="linkIcon fa-brands fa-github fa-4x"></i>
                </a>
                <a href="https://play.google.com/store/apps/details?id=com.SchiesseHouseGames.LunarLander&hl=en_ZA&gl=US"  target="_blank" class="link">
                    <i class="linkIcon fa-brands fa-google-play fa-4x"></i>
                </a>
                <a href="https://scheisse-house-games.itch.io/lunar-lander"  target="_blank" class="link">
                    <i class="linkIcon fa-brands fa-itch-io fa-4x"></i>
                </a>
            </div>
        </div>
    </div>
    <!--Survival-->
    <hr>
    <br>
    <div class="columns is-narrow-tablet column-reverse">
        <div class="column is-6 reveal revealLeft">
            <h4 class="title is-4"><b>Survival</b></h4>
            <h5 class="subtitle is-5">
                You are the sole survivor of a horrific plane crash. You're completely alone and no one knows exactly where you are. There's only two ways out. Keep moving until you find civilization or survive long enough to be rescued.
                <br><br>
                Google Play Rating: 4.0 stars
                <br><br>
                Users: 1.5k+
                <br>
                <br>
            </h5>
            <div>
                <a href="https://github.com/JimmyDevGit/Survival"  target="_blank" class="link">
                    <i class="linkIcon fa-brands fa-github fa-4x"></i>
                </a>
                <a href="https://play.google.com/store/apps/details?id=com.ScheisseHouseGames.Survival&hl=en_ZA&gl=US"  target="_blank" class="link">
                    <i class="linkIcon fa-brands fa-google-play fa-4x"></i>
                </a>
                <a href="https://scheisse-house-games.itch.io/survival"  target="_blank" class="link">
                    <i class="linkIcon fa-brands fa-itch-io fa-4x"></i>
                </a>
            </div>
        </div>
        <div class="column is-6 reveal revealRight">
            <video controls [muted]="true" [autoplay]="true" loop>
                <source src="\assets\Survival Gameplay.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
        </div>
    </div>
    <hr>
    <br>
    <!--Minibike Madness-->
    <div class="columns is-narrow-tablet">
        <div class="column is-6 reveal revealLeft">
            <video controls [muted]="true" [autoplay]="true" loop>
                <source src="\assets\Minibike Madness Gameplay.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
        </div>
        <div class="column is-6 reveal revealRight">
            <h4 class="title is-4"><b>Minibike Madness</b></h4>
            <h5 class="subtitle is-5">
                You play as a miniature dirt bike rider in a world of giant obstacles. Collect the coins and return to the red flag to complete the level but be careful not to hit your head!
                <br><br>
            </h5>
            <div>
                <a href="https://github.com/JimmyDevGit/Mini-Bike-Madness"  target="_blank" class="link">
                    <i class="linkIcon fa-brands fa-github fa-4x"></i>
                </a>
                <a href="https://scheisse-house-games.itch.io/mini-bike-madness"  target="_blank" class="link">
                    <i class="linkIcon fa-brands fa-itch-io fa-4x"></i>
                </a>
            </div>
        </div>
    </div>
</div>