
<div class="background">
    <div class="item" id="item" #item>
        <span class="title titleMain" #titleMain></span>
        <div [style]="polygonDivStyle">
            <div class="titleDiv" #unityTitle id="unityTitle"  [style]="unityClipPath">
                <svg id="triangle" width="320" height="320">
                    <polygon points="155, 30  280, 280 30, 280" stroke-width="25" stroke="#02a9f7" fill="none" />
                </svg>
            </div>
        </div>
    </div>
</div>
