
.item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleMain {
    text-align: center;
    position: absolute;
    font-size: 70px;
    color: #d4f0fc;
}
@media(max-width: 767px) {
  .titleMain {
    font-size: 50px;
  }
}