<!--Typing Challenge-->
<div class="full-stack">
<div class="columns is-narrow-tablet">
    <div class="column is-6 reveal revealLeft">
        <img class="imgStyling" (click)="EnableTypingModal()" src="\assets\TypingChallenge.png" alt="">
    </div>
    <div class="column is-6 reveal revealRight">
        <h4 class="title is-4"><b>Typing Challenge</b></h4>
        <h5 class="subtitle is-5">
            Type the randomised latin phrases exactly as shown to win
            <br>
            <br>
        </h5>
        <div>
                <i (click)="EnableTypingModal()" id="typingButton" class="cursorPointer link linkIcon fa-solid fa-link fa-4x"></i>
            <a href="https://github.com/JimmyDevGit/TypingChallenge"  target="_blank" class="link">
                <i class="linkIcon fa-brands fa-github fa-4x"></i>
            </a>
        </div>
    </div>
</div>
<hr>
<br>
<!--Password-->
<div class="columns is-narrow-tablet column-reverse">
    <div class="column is-6 reveal revealLeft">
        <h4 class="title is-4"><b>Password Generator</b></h4>
        <h5 class="subtitle is-5">
            Generates randomised passwords comprised of letters, numbers and symbols
            <br>
            <br>
        </h5>
        <div>
                <i (click)="EnablePasswordModal()" id="passwordButton" class="cursorPointer link linkIcon fa-solid fa-link fa-4x"></i>
            <a href="https://github.com/JimmyDevGit/PasswordGenerator"  target="_blank" class="link">
                <i class="linkIcon fa-brands fa-github fa-4x"></i>
            </a>
        </div>
    </div>
    <div class="column is-6 reveal revealRight">
        <img class="imgStyling" (click)="EnablePasswordModal()" src="\assets\passwordGenerator.png" alt="">
    </div>
    
</div>
<hr>
<br>
<!--JE.com-->
<div class="columns is-narrow-tablet">
    <div class="column is-6 reveal revealLeft">
        <img src="\assets\JEScreenshot.png" alt="" class="imgStyling">
    </div>
    <div class="column is-6 reveal revealRight">
        <h4 class="title is-4"><b>JamesEllisDev.com</b></h4>
        <h5 class="subtitle is-5">
            <b>Portfolio built with:</b>
            <br>
            <b>Front-end:</b> Angular and Typescript
            <br>
            <b>Back-end:</b> Node js
            <br>
            <br>
        </h5>
        <div>
            <a href="https://github.com/JimmyDevGit/JamesEllisDev"  target="_blank" class="link">
                <i class="linkIcon fa-brands fa-github fa-4x"></i>
            </a>
        </div>
    </div>
</div>
<hr>
<br>
</div>