<div class="columns is-narrow-touch mainColumn">
    <div class="column is-6 profilePicDiv" >
        <img id="profilePic" class="profilePic" src="\assets\profilePortraitE4.png" alt="">
        <img id='codeBlock1' class="CodeBlockImgAnim" src="\assets\codeBlocksE2.png" alt="">
    </div>
    <div class="column is-6 textColumn">
        <div>
            <h1 class="title landingTextName">James Ellis</h1>
        </div>
        <div class="columns is-mobile occupationColumn">
            <div class="column is-6">
                <ul id="leftUl">
                    <li>Game</li>
                    <li>Web</li>
                    <li>Game</li>
                </ul>
            </div>
            <div class="column is-6 rightDiv">
                <ul id="rightUl">
                    <li>Developer</li>
                    <li>Designer</li>
                    <li>Developer</li>
                    <li>Designer</li>
                    <li>Developer</li>
                </ul>
            </div>
        </div>
    </div>
</div>