<div class="columns stretchPage">
    <div class="column is-12 is-mobile stretchPage">
        <div class="container">
            <div class="columns p-0 m-0">
                <div class="column is-12">
                    <app-typing style="background-color: #0B0C10;"></app-typing>
                </div>
            </div>
            <div class="columns p-0 m-0">
                <div class="column is-12">
                    <app-password></app-password>
                </div>
            </div>
            <div class="columns mt-5  ml-5 mr-5">
                <div class="column is-12 p-0">
                    <app-landing></app-landing>
                </div>
            </div>
            <div class="columns mt-0  ml-5 mr-5">
                <div class="column is-12">
                    <app-title id="Applications"></app-title>
                </div>
            </div>
            <div class="columns mt-5  ml-5 mr-5">
                <div class="column is-12 ">
                    <app-full-stack></app-full-stack>
                </div>
            </div>
            <div class="columns mt-5  ml-5 mr-5">
                <div class="column is-12">
                    <app-title id="Games"></app-title>
                </div>
            </div>
            <div class="columns mt-5  ml-5 mr-5">
                <div class="column is-12 ">
                    <app-games></app-games>
                </div>
            </div>
            <div class="columns mt-5  ml-5 mr-5">
                <div class="column is-12">
                    <app-title id="Tool Kit"></app-title>
                </div>
            </div>
            <div class="columns mt-5  ml-5 mr-5">
                <div class="column is-12">
                    <app-tool-kit></app-tool-kit>
                </div>
            </div>
            <div class="columns mt-5  ml-5 mr-5">
                <div class="column is-12">
                    <app-title id="Contact"></app-title>
                </div>
            </div>
            <div class="columns mt-5  ml-5 mr-5 mb-6">
                <div class="column is-12">
                    <app-contact></app-contact>
                </div>
            </div>
        </div>
    </div>
</div>