<div class="columns is-mobile">
    <div class="column is-one-quater iconDiv">
        <i class="linkIcon fa-brands fa-github iconFA row1"></i>
        <h3 class="subtitle is-4 iconText row1Text">GitHub</h3>
    </div>
    <div class="column is-one-quater iconDiv">
        <i class="fa-brands fa-square-js iconFA row1"></i>
        <h3 class="subtitle is-4 iconText row1Text">javascript</h3>
    </div>
    <div class="column is-one-quater iconDiv">
        <i class="fa-brands fa-php iconFA row1"></i>
        <h3 class="subtitle is-4 iconText row1Text">php</h3>
    </div>
    <div class="column is-one-quater iconDiv">
        <i class="fa-brands fa-angular iconFA row1"></i>
        <h3 class="subtitle is-4 iconText row1Text">angular</h3>
    </div>
</div>
<div class="columns is-mobile">
    <div class="column is-offset-2 is-2 iconDiv">
        <i class="customIcon"><img class="customIconImg row2" src="\assets\CiconWhite.png" alt=""></i>
        <h3 class="subtitle is-4 iconText customIconText row2Text">C#</h3>
    </div>
    <div class="column is-offset-1 is-2 iconDiv">
        <i class="fa-brands fa-unity iconFA row2"></i>
        <h3 class="subtitle is-4 iconText row2Text">Unity</h3>
    </div>
    <div class="column is-offset-1 is-2 iconDiv">
        <i class="customIcon"><img class="customIconImg row2" src="\assets\SQLIcon.png" alt=""></i>
        <h3 class="subtitle is-4 iconText customIconText row2Text">SQL</h3>
    </div>
</div>
<div class="columns is-mobile">
    <div class="column is-one-quater iconDiv">
        <i class="fa-brands fa-bootstrap iconFA row3"></i>
        <h3 class="subtitle is-4 iconText row3Text">Bootstrap</h3>
    </div>
    <div class="column is-one-quater iconDiv">
        <i class="fa-brands fa-html5 iconFA row3"></i>
        <h3 class="subtitle is-4 iconText row3Text">HTML5</h3>
    </div>
    <div class="column is-one-quater iconDiv">
        <i class="fa-brands fa-css3 iconFA row3"></i>
        <h3 class="subtitle is-4 iconText row3Text">CSS</h3>
    </div>
    <div class="column is-one-quater iconDiv">
        <i class="customIcon"><img class="customIconImg row3" src="\assets\jqueryIcon.png" alt=""></i>
        <h3 class="subtitle is-4 iconText customIconText row3Text">jquery</h3>
    </div>
</div>